<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buscar - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="../css/search-page.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"> </script>
    </head>
    <body id="search-page">      
        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>           
        <div class="container">
            <%- include('header.ejs') %>
            <div class="divContent">
                <div id="divSearchFilters">
                    <fieldset>
                        <legend class="title">Buscar</legend>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <label class="txt-label">Gênero: </label>
                                <br>
                                <select id="selGenre">
                                    <option value="-1">Selecione</option>
                                    <% genres.forEach((genre) => { %>    
                                        <option value="<%= genre.id %>" <% if(selectGenre == genre.id){ %> selected="true" <% }; %>><%= genre.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col-2">
                                <label class="txt-label">Lançamento: </label>
                                <br>
                                <input type="text" name="txtYear" id="txtYear" value="<%= selectYear %>" />
                            </div>                                               
                            <div class="col-2">
                                <label class="txt-label">Ordem: </label>
                                <br>
                                <select id="selOrder" selectedvalue="<%= selectOrderby%>">
                                    <option value="-1">Selecione</option>
                                    <option value="title.asc" <% if(selectOrderby == 'title.asc'){ %> selected="true" <% }; %>>Alfabética Cres.</option>
                                    <option value="title.desc" <% if(selectOrderby == 'title.desc'){ %> selected="true" <% }; %>>Alfabética Dec.</option>
                                    <option value="popularity.desc" <% if(selectOrderby == 'popularity.desc'){ %> selected="true" <% }; %>>Mais Popular</option>
                                    <option value="vote_average.desc" <% if(selectOrderby == 'vote_average.desc'){ %> selected="true" <% }; %>>Melhor Classificação</option>
                                    <option value="primary_release_date.desc" <% if(selectOrderby == 'primary_release_date.desc'){ %> selected="true" <% }; %>>Recentes</option>
                                </select>
                            </div>
                            <div id="divBtnSearch">                       
                                <button id="btnSearch" type="button" onclick="search()">Buscar</button>  
                            </div>                          
                        </div>                 
                    </fieldset>
                </div>
                <div id="divResults">
                    <% seriesList.forEach((serie) => { %>    
                        <div class="row resultRow">
                            <div class="search-poster">
                                <a href="/series/<%=serie.id%>">
                                    <img alt="" src="<%=(serie.poster_path == null? '/img/background-placeholder.jpg': `https://image.tmdb.org/t/p/original${serie.poster_path}`)%>" />
                                </a>
                                <div>
                                    <a href="/series/<%=serie.id%>" title="<%= serie.name %>"><%= serie.name %></a>
                                </div>
                            </div>
                            <div class="divInfo">
                                <label class="txt-label">Gênero: </label><label><%=serie.genre_list%></label>
                                <br>
                                <label class="txt-label">Lançamento: </label><label><%=serie.first_air_date%></label>
                                <br>
                                <label class="txt-label">Sinopse: </label><label><%= serie.sinopse %></label>
                                <br />  
                            </div>                      
                        </div>
                    <% })  %>
                                                  
                </div>
            </div>
            <footer>
                <div class="centered">
                    <img alt="" src="/img/insta_logo.png">
                    <img alt="" src="/img/twitter_logo.png">
                    <img alt="" src="/img/logo_facebook.png">
                </div>
            </footer>       
        </div>      
        <!--Custom js-->
        <script src="node_modules/layout-management/index.js"></script>
        <script>
            function search(){
                location.href=`/advancedSearch?genre=${$('#selGenre').val()}&year=${$('#txtYear').val()}&orderby=${$('#selOrder').val()}`;
            }
        </script>
        <script>
            function searchName(){
                console.log($('#txtTitulo').val());
                 $.ajax({
                    type: "GET",
                    url: `http://localhost:4444/search`,
                    data: {
                        titulo: $('#txtTitulo').val()
                    },
                    dataType: 'json'
                })
            }
        </script>
        <script src="/js/layout-management/index.js"></script>
    </body>
</html>
