<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= seriesTitle %> <%= seasonNumber %>x<%= episodeNumber %> - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/main.css" />

        <link rel="stylesheet" href="/css/episode-page.css" />

        <!-- Ícones -->
        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        
    </head>
    <body id="episode-page">
        <div id="divContainer">
            <%- include('header.ejs') %>
            
            <div id="divBanner" style="background-image: url(
                <%= (banner != 'https://image.tmdb.org/t/p/originalnull') ? banner : '/img/background-placeholder.jpg' %>)">
                <div id="divNextEpisode">
                    <% var previousEpisode = episodeNumber - 1 %>
                    <% var nextEpisode = episodeNumber + 1 %>
                    <a href="/series/<%= seriesId %>/season/<%= seasonNumber %>/episode/<%= previousEpisode %>">
                        <i class="material-icons icon">keyboard_arrow_left</i>
                    </a>
                    <a href="/series/<%= seriesId %>/season/<%= seasonNumber %>/episode/<%= nextEpisode %>">
                        <i class="material-icons icon">keyboard_arrow_right</i>
                    </a>
                </div>
                <div id="txtTitle">
                    <a href="/series/<%= seriesId %>"><h2 id="txtSeriesTitle"><%= seriesTitle %>: Temporada <%= seasonNumber %></h2></a>
                    <h1 id="txtEpisodeTitle">
                        <b><%= seasonNumber %>x<%= episodeNumber %></b>
                        <%= name %>
                    </h1>
                </div>
                <div id="divSeriesHeader">
                    <div id="divNumbers">
                            <% if(userId != undefined && userId >= 0){ %>
                            <div class="div-number">
                                <% if(watched) { %>
                                    <button type="button" class="action-button" id="buttonUpdateSeries" onclick="function(){console.log('oi')}">
                                        <i id="check-icon" class="material-icons icon">check_circle</i>
                                    </button>
                                    <div class="div-number-info">
                                        <h4 id="check-episode-text" class="txt-number-info-text">Episódio</h4>
                                        <h5 id="check-episode-subtext" class="txt-number-info-label">já visto</h5>
                                    </div>
                                <% } else { %>
                                    <button 
                                        onclick="watchEpisode('<%= episodeId %>', '<%= seriesId %>', '<%= userId %>')" 
                                        type="button" 
                                        class="action-button" id="watchbutton">
                                            <i id="check-icon" class="material-icons icon">check_circle_outline</i>
                                    </button>
                                    <div class="div-number-info">
                                        <h4 id="check-episode-text" class="txt-number-info-text">Marcar</h4>
                                        <h5 id="check-episode-subtext" class="txt-number-info-label">como visto</h5>
                                    </div>
                                <% } %>
                                
                            </div>
                            
                            <div class="div-number">
                                <i class="material-icons icon">star_rate</i>
                                <div class="div-number-info">
                                    <% if(userscore >= 0) { %>
                                        <h4 class="txt-number-info-text"><%= userscore %></h4>
                                        <h5 class="txt-number-info-label">Minha Nota</h5>
                                    <% } else { %>
                                        <h4 class="txt-number-info-text">-</h4>
                                        <h5 class="txt-number-info-label">Minha Nota</h5>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <div class="div-number">
                            <i class="material-icons icon">stars</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text"><%= databasegeralscore %></h4>
                                <h5 class="txt-number-info-label">Média Geral</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="fab fa-imdb icon"></i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text"><%= vote_average %></h4>
                                <h5 class="txt-number-info-label">Nota iMDB</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divContent">
                <section id="divLeftSideBar">
                    <img id="imgPoster" src="<%= 
                    (seriesPoster != 'https://image.tmdb.org/t/p/originalnull')
                    ? seriesPoster
                    : '/img/background-placeholder.jpg'
                    %>" alt="" />
                    <% if(watched) { %>
                        <div id="divScore">
                            <h5 class="txt-label boldtext">Nota:</h5>
                            <input class="score-input">
                            <div id="btnAddSeries"> 
                                <button type="button" class="action-button" id="addorremove" onclick="UpdateScore('<%= episodeId %>', '<%= seriesId %>', '<%= userId %>')"><h3 id="txtAddSeries">Avaliar</h3></button>
                            </div>
                            
                        </div>
                    <% } %>
                </section>
                <div id="divInformations">
                    <div id="divSpecificInformations">
                        <div class="div-row">
                            <h5 class="txt-label">Exibido em: </h5>
                            <h5 class="txt-info"><%= airDate %></h5>
                        </div>
                        <div class="div-row" id="text-marked">
                        <% if(watched) { %> 
                                <h5 class="txt-label">Marcado em:</h5>
                                <h5 class="txt-info"><%= watchDate %></h5>
                        <% } %>
                        </div>
                    </div>
                    <p id="txtBannerSubtitle"><%= sinopsis %></p>
                </div>
                <div id="paddingspace"></div>
            </div>
            
            <footer>
                <div class="centered">
                    <img alt="" src="/img/insta_logo.png">
                    <img alt="" src="/img/twitter_logo.png">
                    <img alt="" src="/img/logo_facebook.png">
                </div>
            </footer>                          
        </div>
        <script>


            function checkDarkTheme(){
                var dark = localStorage.getItem('dark');
                console.log('dark:', dark);
            }

            var todaysdate = function dataAtualFormatada(){
                let data = new Date(),
                    dia  = data.getDate().toString(),
                    diaF = (dia.length == 1) ? '0'+dia : dia,
                    mes  = (data.getMonth()+1).toString(), //+1 pois no getMonth Janeiro começa com zero.
                    mesF = (mes.length == 1) ? '0'+mes : mes,
                    anoF = data.getFullYear();
                return diaF+"/"+mesF+"/"+anoF;
            }

            function UpdateScore(episodeId, seriesId, userId){
                let scorevalue = document.querySelector(".score-input").value
                if(!isNaN(scorevalue) && (scorevalue >>> 0 === parseFloat(scorevalue))){
                    // AJAX
                    $.ajax({
                        type: "POST",
                        url: `http://localhost:4444/episodescore`,
                        data: JSON.stringify({
                            userId: userId, 
                            episodeId: episodeId,
                            seriesId: seriesId,
                            rating: scorevalue,
                        }),
                        contentType: "application/json; charset=utf-8",
                    })
                    .done(function(msg){
                        document.location.reload(true);
                    })
                    .fail(function(jqXHR, textStatus, msg){
                        console.log(msg);
                    });
                // END OF AJAX
                } else{
                    window.alert("Valor Inapropriado");
                }
                
            }

            function watchEpisode(episodeId, seriesId, userId) {
                $.ajax({
                    type: "POST",
                    url: `http://localhost:4444/watch`,
                    data: JSON.stringify({
                        userId: userId, 
                        episodeId: episodeId,
                        seriesId: seriesId,
                        rating: -1,
                    }),
                    contentType: "application/json; charset=utf-8",
                })
                .done(function(msg){/*
                    $("#check-icon").text("check_circle");
                    $("#check-episode-text").text("Episódio");
                    $("#check-episode-subtext").text("já visto");
                    document.querySelector('#text-marked').innerHTML = '<h5 class="txt-label">Marcado em: </h5><h5 class="txt-info">' + todaysdate() + '</h5>'
                    document.querySelector('#watchbutton').onclick =  addUserScoreInput()*/
                    document.location.reload(true);
                })
                .fail(function(jqXHR, textStatus, msg){
                    console.log(msg);
                });

            }
        </script>
        <!--Custom js-->
        <script src="/js/layout-management/index.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
        <script>
            var t1 = new TimelineMax()
            t1.fromTo('#divBanner', 1, {}, {height : '70vh', ease: 'Power2.easeInOut'}).fromTo(
                '#divLeftSideBar', 3, {opacity: 0}, {opacity: 100, ease: 'Power1.easeInOut'})
        </script>
    </body>

</html>