<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= seriesTitle %> <%= seasonNumber %>x<%= episodeNumber %> - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/episode-page.css" />

        <!-- Ícones -->
        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>
        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        
    </head>
    <body id="episode-page">
        <div id="divContainer">
            <div id="divFaixa">
                <div id="divAccessibility">
                    <div class="div-font-size"><button class="A+ accessibility-icon">A+</button></div>
                    <div class="div-font-size"><button class="A accessibility-icon">A</button></div>
                    <div class="div-font-size"><button class="A- accessibility-icon">A-</button></div>
                    <div class="div-font-size"><button class="material-icons mode-icon">nightlight_round</button></div>
                </div>
            </div>

            <nav id="nav-placeholder">
				<div class="navbar">						
                    <a href="index.html">
                        <img src="/img/name_with_logo.png" class="logo-image" alt="" >
                    </a>
					<div class="div-menu">
						<a href="user-home.html"><h2 class="txt-menu-item">Home</h2></a>
						<a href="search-page.html"><h2 class="txt-menu-item">Buscar</h2></a>
					</div>						
					<div class="div-menu">
						<input class="search-input">
                    </div>
                    <div class="div-menu">
                        <a href=""><h2 class="txt-menu-item">Sair</h2></a>
                    </div>			
				</div>
            </nav>

            <div id="divBanner" style="background-image: url(<%= banner %>);">
                <div id="divNextEpisode">
                    <% var previousEpisode = episodeNumber - 1 %>
                    <% var nextEpisode = episodeNumber + 1 %>
                    <a href="/<%= userId %>/series/<%= seriesId %>/season/<%= seasonNumber %>/episode/<%= previousEpisode %>">
                        <i class="material-icons icon">keyboard_arrow_left</i>
                    </a>
                    <a href="/<%= userId %>/series/<%= seriesId %>/season/<%= seasonNumber %>/episode/<%= nextEpisode %>">
                        <i class="material-icons icon">keyboard_arrow_right</i>
                    </a>
                </div>
                <div id="txtTitle">
                    <a href="/series/<%= seriesId %>"><h2 id="txtSeriesTitle"><%= seriesTitle %>: Temporada <%= seasonNumber %></h2></a>
                    <h1 id="txtEpisodeTitle">
                        <b><%= seasonNumber %>x<%= episodeNumber %></b>
                        <%= name %>
                    </h1>
                </div>
                <div id="divSeriesHeader">
                    <div id="divNumbers">
                        <div class="div-number">
                            <% if(watched) { %>
                                <button disabled type="button" class="action-button">
                                    <i id="check-icon" class="material-icons icon">check_circle</i>
                                </button>
                                <div class="div-number-info">
                                    <h4 id="check-episode-text" class="txt-number-info-text">Episódio</h4>
                                    <h5 id="check-episode-subtext" class="txt-number-info-label">já visto</h5>
                                </div>
                            <% } else { %>
                                <button 
                                    onclick="watchEpisode('<%= episodeId %>', '<%= seriesId %>', '<%= userId %>')" 
                                    type="button" 
                                    class="action-button">
                                        <i id="check-icon" class="material-icons icon">check_circle_outline</i>
                                </button>
                                <div class="div-number-info">
                                    <h4 id="check-episode-text" class="txt-number-info-text">Marcar</h4>
                                    <h5 id="check-episode-subtext" class="txt-number-info-label">como visto</h5>
                                </div>
                            <% } %>
                            
                        </div>
                        <div class="div-number">
                            <i class="material-icons icon">star_rate</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">9.25</h4>
                                <h5 class="txt-number-info-label">Minha Nota</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="material-icons icon">stars</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">8.89</h4>
                                <h5 class="txt-number-info-label">Média Geral</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="fab fa-imdb icon"></i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">8.89</h4>
                                <h5 class="txt-number-info-label">Nota iMDB</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divContent">
                <section id="divLeftSideBar">
                    <img id="imgPoster" src="<%= seriesPoster %>" alt=""/>
                </section>
                <div id="divInformations">
                    <div id="divSpecificInformations">
                        <div class="div-row">
                            <h5 class="txt-label">Exibido em: </h5>
                            <h5 class="txt-info"><%= airDate %></h5>
                        </div>
                        <% if(watched) { %> 
                            <div class="div-row">
                                <h5 class="txt-label">Marcado em:</h5>
                                <h5 class="txt-info"><%= watchDate %></h5>
                            </div>
                        <% } %>
                    </div>
                    <p id="txtBannerSubtitle"><%= sinopsis %></p>
                </div>
            </div>   
            <footer>
                <div class="centered">
                    <img alt="" src="/img/insta_logo.png">
                    <img alt="" src="/img/twitter_logo.png">
                    <img alt="" src="/img/logo_facebook.png">
                </div>
            </footer>                          
        </div>
        <script>
            function watchEpisode(episodeId, seriesId, userId) {
                $.ajax({
                    type: "POST",
                    url: `http://localhost:4444/watch`,
                    data: JSON.stringify({
                        userId: userId, 
                        episodeId: episodeId,
                        seriesId: seriesId,
                        rating: 10,
                    }),
                    contentType: "application/json; charset=utf-8",
                })
                .done(function(msg){
                    $("#check-icon").text("check_circle");
                    $("#check-episode-text").text("Episódio");
                    $("#check-episode-subtext").text("já visto");
                })
                .fail(function(jqXHR, textStatus, msg){
                    console.log(msg);
                });

                // console.log(episode_id);
            }
        </script>
        <!--Custom js-->
        <script src="/node_modules/layout-management/index.js"></script>
    </body>

</html>