<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= seriesTitle %> <%= season_number %>x<%= episode_number %> - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/episode-page.css" />

        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>
    </head>
    <body id="episode-page">
        <div id="divContainer">
            <div id="divFaixa">
                <div id="divAccessibility">
                    <div class="div-font-size"><button class="A+ accessibility-icon">A+</button></div>
                    <div class="div-font-size"><button class="A accessibility-icon">A</button></div>
                    <div class="div-font-size"><button class="A- accessibility-icon">A-</button></div>
                    <div class="div-font-size"><button class="material-icons mode-icon">nightlight_round</button></div>
                </div>
            </div>

            <nav id="nav-placeholder">
				<div class="navbar">						
                    <a href="index.html">
                        <img src="/img/name_with_logo.png" class="logo-image" alt="" >
                    </a>
					<div class="div-menu">
						<a href="user-home.html"><h2 class="txt-menu-item">Home</h2></a>
						<a href="search-page.html"><h2 class="txt-menu-item">Buscar</h2></a>
					</div>						
					<div class="div-menu">
						<input class="search-input">
                    </div>
                    <div class="div-menu">
                        <a href=""><h2 class="txt-menu-item">Sair</h2></a>
                    </div>			
				</div>
            </nav>

            <div id="divBanner" style="background-image: url(<%= banner %>);">
                <div id="divNextEpisode">
                    <% var previous_episode = episode_number - 1 %>
                    <% var next_episode = episode_number + 1 %>
                    <a href="/series/<%= seriesId %>/season/<%= season_number %>/episode/<%= previous_episode %>">
                        <i class="material-icons icon">keyboard_arrow_left</i>
                    </a>
                    <a href="/series/<%= seriesId %>/season/<%= season_number %>/episode/<%= next_episode %>">
                        <i class="material-icons icon">keyboard_arrow_right</i>
                    </a>
                </div>
                <div id="txtTitle">
                    <a href="/series/<%= seriesId %>"><h2 id="txtSeriesTitle"><%= seriesTitle %>: Temporada <%= season_number %></h2></a>
                    <h1 id="txtEpisodeTitle">
                        <b><%= season_number %>x<%= episode_number %></b>
                        <%= name %>
                    </h1>
                </div>
                <div id="divSeriesHeader">
                    <div id="divNumbers">
                        <div class="div-number">
                            <i class="material-icons icon">check_circle_outline</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">Marcar</h4>
                                <h5 class="txt-number-info-label">como visto</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="material-icons icon">star_rate</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">9.25</h4>
                                <h5 class="txt-number-info-label">Minha Nota</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="material-icons icon">stars</i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">8.89</h4>
                                <h5 class="txt-number-info-label">Média Geral</h5>
                            </div>
                        </div>
                        <div class="div-number">
                            <i class="fab fa-imdb icon"></i>
                            <div class="div-number-info">
                                <h4 class="txt-number-info-text">8.89</h4>
                                <h5 class="txt-number-info-label">Nota iMDB</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divContent">
                <section id="divLeftSideBar">
                    <img id="imgPoster" src="<%= seriesPoster %>" alt=""/>
                </section>
                <div id="divInformations">
                    <div id="divSpecificInformations">
                        <div class="div-row">
                            <h5 class="txt-label">Exibido em: </h5>
                            <h5 class="txt-info"><%= air_date %></h5>
                        </div>
                        <div class="div-row">
                            <h5 class="txt-label">Marcado em:</h5>
                            <h5 class="txt-info">10 Jan 2021</h5>
                        </div>
                    </div>
                    <p id="txtBannerSubtitle"><%= sinopsis %></p>
                </div>
            </div>   
            <footer>
                <div class="centered">
                    <img alt="" src="/img/insta_logo.png">
                    <img alt="" src="/img/twitter_logo.png">
                    <img alt="" src="/img/logo_facebook.png">
                </div>
            </footer>                          
        </div>
        <script>
            var acc = document.getElementsByClassName("div-season");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                  panel.style.display = "none";
                } else {
                  panel.style.display = "block";
                }
              });
            }
        </script>
        <!--Custom js-->
        <script src="/node_modules/layout-management/index.js"></script>
    </body>

</html>