<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buscar - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="../css/search-page.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body id="search-page">      
        <script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>           
        <div class="container">
            <div id="divFaixa">
                <div id="divAccessibility">
                    <div class="div-font-size"><button class="A+ accessibility-icon">A+</button></div>
                    <div class="div-font-size"><button class="A accessibility-icon">A</button></div>
                    <div class="div-font-size"><button class="A- accessibility-icon">A-</button></div>
                    <div class="div-font-size"><button class="material-icons mode-icon">nightlight_round</button></div>
                </div>
            </div>

            <nav id="nav-placeholder">
                <div class="navbar">                        
                    <a href="index.html">
                        <img src="/img/name_with_logo.png" class="logo-image" alt="" >
                    </a>
                    <div class="div-menu">
                        <a href="user-home.html"><h2 class="txt-menu-item">Home</h2></a>
                        <a href="search-page.html"><h2 class="txt-menu-item">Buscar</h2></a>
                    </div>                      
                    <div class="div-menu">
                        <input class="search-input">
                    </div>
                    <div class="div-menu">
                        <a href=""><h2 class="txt-menu-item">Sair</h2></a>
                    </div>          
                </div>
            </nav>
            <div class="divContent">
                <div id="divSearchFilters">
                    <fieldset>
                        <legend class="title">Buscar</legend>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <label class="txt-label">Título: </label>
                                <br>
                                <input type="text" id="txtTitle" value="<%=title%>"/>
                            </div>
                            <div id="divBtnSearch">                       
                                <button id="btnSearch" type="button" onclick="location.href=`/search?title=${$('#txtTitle').val()}`">Buscar</button>  
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <% seriesList.forEach((serie) => { %>    
                                <div class="poster">
                                    <a href="/series/<%=serie.id%>">
                                        <img alt="" src="<%=(serie.poster_path == null? '/img/background-placeholder.jpg': `https://image.tmdb.org/t/p/original${serie.poster_path}`)%>" /> 
                                    </a>
                                    <div>
                                        <a href="/series/<%=serie.id%>"><%= serie.name %></a>
                                    </div>
                                </div>
                            <% })%>                           
                        </div>                                 
                    </fieldset>
                </div>
            </div>  
            <footer>
                <div class="centered">
                    <img alt="" src="/img/insta_logo.png">
                    <img alt="" src="/img/twitter_logo.png">
                    <img alt="" src="/img/logo_facebook.png">
                </div>
            </footer>       
        </div>      
        <!--Custom js-->
         <script src="/js/layout-management/index.js"></script>
    </body>
</html>
