<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minhas Listas - Maratomator</title>
        <link rel="icon" href="/img/logo-icon.png">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="/css/user-home.css" rel="stylesheet" type="text/css">
		<!--<link href="/css/user-home-dark.css" rel="stylesheet" type="text/css">-->

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body id="user-home">
		
		<script src="https://kit.fontawesome.com/afd9d2c121.js" crossorigin="anonymous"></script>		
		<div class="container">
			<div id="divFaixa">
                <div id="divAccessibility">
                    <div class="div-font-size"><button class="A+ accessibility-icon">A+</button></div>
                    <div class="div-font-size"><button class="A accessibility-icon">A</button></div>
                    <div class="div-font-size"><button class="A- accessibility-icon">A-</button></div>
                    <div class="div-font-size"><button class="material-icons mode-icon">nightlight_round</button></div>
                </div>
            </div>

            <nav id="nav-placeholder">
				<div class="navbar">	
					<a href="index.html">
						<img src="/img/name_with_logo.png" class="logo-image" alt="" >
					</a>					
					<div class="div-menu">
						<a href="user-home.html"><h2 class="txt-menu-item">Home</h2></a>
						<a href="search-page.html"><h2 class="txt-menu-item">Buscar</h2></a>
					</div>						
					<div class="div-menu">
						<input class="search-input">
                    </div>
                    <div class="div-menu">
                        <a href="/sign_out"><h2 class="txt-menu-item">Sair</h2></a>
                    </div>			
				</div>
            </nav>
			<div class="body">
				<div class="col-2" id="divUser">
					<div class="centered">
						<img alt="" class="user-image" src="/img/user.jpg">
					</div>
					<br>
					<div class="row">
						<label class="txt-label">Nome:</label>
						&nbsp;
						<label id="lblName">Violeta</label>
					</div>
					<div class="row">
						<label class="txt-label">Idade:</label>
						&nbsp;
						<label id="lblAge">24</label>
					</div>
					<div class="row">
						<label class="txt-label">Total de Séries:</label>
						&nbsp;
						<label id="lblTotalSeries">77</label>
					</div>
					<div class="row">
						<label class="txt-label">Último Acesso:</label>
						&nbsp;
						<label id="lblLastAcess">31/01/21 08:00</label>
					</div>
					<br />
					<br />
					<div>
						<a id="btnEditPerfil" class="centered" href="/profile">Editar Perfil</a>
					</div>
				</div>
				<div id="divUserLists">
					<div>
						<fieldset>
							<legend class="title">Últimas Séries Adicionadas</legend>
							<div class="list">
								<div class="row">
								<!--LISTA DE TEMPORADAS-->

									<% ultimosassistidos.slice().reverse().forEach((serie) => { %>
									<a href=
									"/series/<%= serie.data.id %>">
									<div class="poster">
										<img alt="" src="<%= 
										(serie.data.poster_path != 'https://image.tmdb.org/t/p/originalnull')
										? serie.data.poster_path
										: '/img/background-placeholder.jpg'
										%>" />
										<div>										
											<label><%= serie.data.name %></label>
											<label><%= serie.data.watcheddate %></label>
										</div>
									</div>
									</a>
									<% }) %>
									
								</div>							
							</div>
						</fieldset>
						<br>						
						<br>
						<div class="title">
							<i class="fas fa-grip-lines-vertical"></i>
							<label class="title">Assistindo</label>
						</div>
						<div class="list">
							<div class="row">
								<!--LISTA DE TEMPORADAS-->

								<% assistindo.slice().reverse().forEach((serie) => { %>
								<a href=
									"/series/<%= serie.data.id %>">
									<div class="poster">
										<img alt="" src="<%= 
										(serie.data.poster_path != 'https://image.tmdb.org/t/p/originalnull')
										? serie.data.poster_path
										: '/img/background-placeholder.jpg'
										%>" />
										<div>										
											<label><%= serie.data.name %></label>
											<label><%= serie.data.watcheddate %></label>
										</div>
									</div>
									</a>
									<% }) %>

							</div>
						</div>
						<br>
						<br>
						<div class="title">
							<i class="fas fa-grip-lines-vertical"></i>
							<label class="title">Em Hiato</label>
						</div>
						<div class="list">
							<div class="row">
								<!--LISTA DE TEMPORADAS-->

								<% emhiato.slice().reverse().forEach((serie) => { %>
									<a href=
                                        "/series/<%= serie.data.id %>">
									<div class="poster">
										<img alt="" src="<%= 
										(serie.data.poster_path != 'https://image.tmdb.org/t/p/originalnull')
										? serie.data.poster_path
										: '/img/background-placeholder.jpg'
										%>" />
										<div>										
											<label><%= serie.data.name %></label>
											<label><%= serie.data.watcheddate %></label>
										</div>
									</div>
									</a>
								<% }) %>
							</div>							
						</div>
						<br>
						<br>
						<div class="title">
							<i class="fas fa-grip-lines-vertical"></i>
							<label class="title">Completos</label>
						</div>
						<div class="list">
							<div class="row">
								<!--LISTA DE TEMPORADAS-->

								<% completos.slice().reverse().forEach((serie) => { %>
									<a href=
                                        "/series/<%= serie.data.id %>">
										<div class="poster">
											<img alt="" src="<%= 
											(serie.data.poster_path != 'https://image.tmdb.org/t/p/originalnull')
											? serie.data.poster_path
											: '/img/background-placeholder.jpg'
											%>" />
											<div>										
												<label><%= serie.data.name %></label>
												<label><%= serie.data.watcheddate %></label>
											</div>
										</div>
									</a>
								<% }) %>
							</div>
						</div>
					</div>
					<footer>
						<div class="centered">
							<img alt="" src="/img/insta_logo.png">
							<img alt="" src="/img/twitter_logo.png">
							<img alt="" src="/img/logo_facebook.png">
						</div>
					</footer>
				</div>				
			</div>			
		</div>		
		<!--Custom js-->
		<script>
            if(performance.navigation.type == 2)
              location.reload(true)
        </script>
		<script src="/js/layout-management/index.js"></script>
	</body>
</html>
